html {
	background-image: url(https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/14051711_10154628523682018_6190676572178835977_n.jpg?oh=7a373980518b1cb8f8f6327572043ee5&oe=58D3AEFE);
	background-repeat:no-repeat;
	background-size:100%;
	cursor: pointer;
}