html {
	background-image: url(http://media.click2houston.com/photo/2015/11/22/KPRC-Anchor-BAS-Super-Bowl-51-jpg_498001_ver1.0_1280_720.jpg);
	background-repeat:repeat;
	background-size:100% 1200px;
	cursor:url(http://www.raginpagin.com/louisiana/images/icons/icon02.gif), auto;
}
.menu{
		background: rgba(255, 255, 255, 0.35);
}
.gallery{
	float:left;
}
#gal1 {
	width:46%;
}
#gal2 {
	width:41%;
}
#gal3 {
	width:44%;
}
#gal4 {
	width:40%;
}
#gal5 {
	width:41%;
}
#gal6 {
	width:30%;
}
#gal7 {
	width:55%;
}
#gal8 {
	width:27%;
}
#gal9 {
	width:20%;
}
#gal10 {
	width:35%;
}
.menu ul li{
	list-style-type: none;
	display: inline-block;
	background: black;
	color: white;
	padding: 10px;
	position: relative;
	bottom: 10px;
}
.menu ul li a{
	color: white;
}
.menu img{
	margin: 5px 10px 5px 20px;
	display: inline-block;
	position: relative;
	top: 5.5px;
}
.menu ul{
	display: inline-block;
	margin: 5px;
	position: relative;
	bottom: 11px;
	clear: left;
}
.hometext{
	width: 20%;
}
.descriptionh1 {
	background-color:black;
	color:red;
}
.descriptionp {
	color:red;
}
.descriptionimg {
	width:350px;
	height:350px;
}
.descriptionimg2 {
	width:350px;
	height:350px;
	float:right;
}
.donate{
	font-family: Impact, Charcoal, sans-serif;
	color: white;}

@media (min-width:769px) and (max-width:1025px){
	.descriptionimg {
		width:250px;
		height: 250px;
	}
	.descriptionimg2 {
		width:250px;
		height:250px;
		position:none;
		float:right;
	}

	html {
		background-size:1024px 1400px;
	}
}
@media (min-width:569px) and (max-width:768px){
	.descriptionimg {
		width:250px;
		height: 250px;
	}
	.descriptionimg2 {
		width:250px;
		height:250px;
		position:none;
		float:right;
	}
	html {
		background-size:768px 1200px;
	}
}
@media (min-width:321px) and (max-width:568px){
	.descriptionimg {
		width:250px;
		height: 250px;
	}
	.descriptionimg2 {
		width:250px;
		height:250px;
		position:none;
		float:right;
	}
	html {
		background-size:1024px 1400px;
	}
	.menu ul li {
		font-size:14px;
		margin:1px;
	}
}
@media (max-width:320px){

	.descriptionimg {
		width:150px;
		height: 150px;
	}
	.descriptionimg2 {
		width:150px;
		height:150px;
		position:none;
		float:right;
	}
	html {
		background-size:320px 1000px;
	}
	.menu {
		margin:2px 0px 2px;
		height:130px;
	}
	ul li {
		margin:5px;
		font-size:8px;
	}
}
